body {
    font-family: sans-serif;
    background: linear-gradient(45deg, #eb984e , #f7dc6f );
}
* {
    list-style-type: none;
    text-decoration: none;
}

.menu-toggle {
    position: fixed;
    top: 25px;
    left: 20px;
    font-size: 24px;
    z-index: 2;
    cursor: pointer;
    transition: transfrom 0.3s;
    color: black;
}

#home {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100%;
    background-color: white;
    padding: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: transfrom 0.3s;
    transform: translateX(-100%);
    line-height: 30px;
}

ul {
    flex-direction: row;
    align-items: center;
    padding: 14px;
    border-radius: 8px;
    transition: all 0.1s;
    cursor: pointer;
    color: #333;
}

#home a {
    color: black;
    
}
#home i {
    text-align: center;
    width: 20px;
    font-size: 22px;
}

h1 {
    text-align: center;
    margin-top: 70px;
}

#menu-toggle:checked~#home {
    transform: translateX(0);
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
}

#menu-toggle:checked~.menu-toggle {
    transform: translateX(200px);
    color: #333;
}

.exam input {
    height: 20px;
    width: 30px;
}

#home a#active  {
    color:  #f39c12 ;
}

#home i#active  {
    color:  #f39c12 ;
}

textarea {
    background-color:  #f8f9f9 ;
}

textarea:focus {
    outline: none;
}


@media only screen and (max-width: 414px) {
 
  
  h1 {
    font-size: 15px;
    margin-left: 5px;
    text-align: justify;
  }
}

@media only screen and (min-width: 768px) {
    body {
        
    }
    
    h1 {
        font-size: 30px;
        text-align: justify;
    }
}

@media only screen and (width:430px) {
   
    h1 {
        font-size: 18px;
        text-align: start;
    }
}

img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-top: 5px;
    border-radius: 60px;
}

.user1 {
    background-color: white;
    width: 265px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    margin-top: 100px;
}
.user1 h3 {
    font-size: 13px;
    margin-top: 20px;
}


.user2 {
    background-color: white;
    width: 265px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    margin-top: 40px;
}
.user2 h3 {
    font-size: 13px;
    margin-top: 20px;
}
